<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PicDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <PicDB.Properties.Settings>
            <setting name="DALType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilePathLaptop" serializeAs="String">
                <value>C:\Users\Ralph\Desktop\SWE\Projekt\SWE\BIF-SS18-SWE2\deploy\Pictures</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>PicDB</value>
            </setting>
            <setting name="Servername" serializeAs="String">
                <value>RALPHSBOOK</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value>C:\Users\Ralph\Desktop\PictureDatabase\PictureDB\SWE\Projekt\SWE\BIF-SS18-SWE2\deploy\Pictures</value>
            </setting>
            <setting name="ServernamePC" serializeAs="String">
                <value>DESKTOP-COE4AJM</value>
            </setting>
            <setting name="FilePathPC" serializeAs="String">
                <value>C:\Users\Alfred\Desktop\SWE_Projekt\SWE\BIF-SS18-SWE2\deploy\Pictures</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
        </PicDB.Properties.Settings>
    </userSettings>
</configuration>
