<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronPdf" version="4.4.9" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MetadataExtractor" version="2.0.0" targetFramework="net40-client" requireReinstallation="true" />
  <package id="NUnit" version="3.10.1" targetFramework="net40-client" requireReinstallation="true" />
  <package id="XmpCore" version="5.1.3" targetFramework="net40-client" />
</packages>